[MASTER]
init-hook='import sys; sys.path.append("")'
ignore=CVS
jobs=1

[MESSAGES CONTROL]
disable=missing-docstring,too-few-public-methods,invalid-name,import-error,too-many-arguments

[FORMAT]
max-line-length=120

[REPORTS]
output-format = text
reports = no

